@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.s-blue{
    position: absolute;
    width: 1440px;
    height: 780px;
    left: -1px;
    top: 5405px;
    
    background: #9DC9C8;
}


.s-blue h2{
    position: absolute;
    width: 908px;
    height: 66px;
    left: 121px;
    top: 179px;
    /* top: 5584px; */
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
}

.s-first{
    position: absolute;
width: 170px;
height: 32px;
left: 121px;
top: 299px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 101.38%;
}
.s-second{
    position: absolute;
width: 481px;
height: 181px;
left: 121px;
top: 329px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 101.38%;
}
.s-left h3{
    position: absolute;
width: 294px;
height: 32px;
left: 121px;
top: 484px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 101.38%;
}
.s-right h3{
    position: absolute;
width: 322px;
height: 32px;
left: 485px;
top: 484px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 101.38%;
}
.s-left p{
    position: absolute;
width: 294px;
height: 70px;
left: 121px;
top: 525px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 101.38%;
}
.s-right p{
    position: absolute;
    width: 294px;
    height: 70px;
    left: 485px;
    top: 525px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 101.38%;
} 

.s-black{
    position: absolute;
    width: 1440px;
    height: 390px;
    left: -1px;
    top: 6185px;

background: #000000;
}

.s-black .img1{
    position: absolute;
width: 115px;
height: 68px;
left: 121px;
/* top: 6235px; */
top: 50px;

}
.s-black .img2{
    position: absolute;
    width: 33px;
    height: 33px;
    left: 121px;
    /* top: 6333px; */
    top: 148px;
}
.s-black .img3{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 172px;
    /* top: 6333px; */
    top: 148px;
}
.s-black .img4{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 225px;
    /* top: 6331px; */
    top: 148px;
}
.s-black .img5{
    position: absolute;
width: 34px;
height: 34px;
left: 285px;
/* top: 6332px; */
top: 148px;
}
.s-black .img6{
 position: absolute;
    width: 27px;
    height: 27px;
    left: 975px;
    /*  top: 6239px;  */
    top: 54px; 
}
.s-black .img7{
    position: absolute;
    width: 27px;
    height: 18px;
    left: 975px;
    /* top: 6291px; */
    top: 106px;;
}

.s-phone{
    position: absolute;
    width: 230px;
    height: 40px;
    left: 1024px;
    /* top: 6244px; */
    top: 59px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    color: #FFFFFF;
}
.s-mail{
    position: absolute;
    width: 269px;
    height: 40px;
    left: 1024px;
    /* top: 6287px; */
    top: 102px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    /* or 25px */
    
    
    color: #FFFFFF;
}

.s-author{
    position: absolute;
width: 230px;
height: 40px;
left: 121px;
/* top: 6512px; */
top: 327px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 101.38%;

color: #FFFFFF;
}



@media (min-width: 992px ) and (max-width: 1279px ) {
.s-blue{
        position: absolute;
        width: 834px;
        height: 451.75px;
        left: 0px;
        top: 3122.75px;
        
        background: #9DC9C8;
    }
    
.s-blue h2{
        position: absolute;
width: 525.88px;
height: 38.23px;
left: 70.66px;
/* top: 3226.42px; */
top: 103.67px;

font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 101.38%;
    }
    
.s-first{
        position: absolute;
width: 98.46px;
height: 18.53px;
left: 70.66px;
/* top: 3295.92px; */
top: 173.17px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 101.38%;
    }

.s-second{
        position: absolute;
width: 278.58px;
height: 104.83px;
left: 70.66px;
/* top: 3313.3px; */
top: 190.55px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 46px;
line-height: 101.38%;
    }

.s-left h3{
        position: absolute;
width: 170.28px;
height: 18.53px;
left: 70.66px;
/* top: 3403.07px; */
top: 280.32px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 101.38%;
    }

.s-right h3{
        position: absolute;
width: 186.49px;
height: 18.53px;
left: 281.47px;
/* top: 3403.07px; */
top: 280.32px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 101.38%;
    }

.s-left p{
        position: absolute;
        width: 170.28px;
        height: 40.54px;
        left: 70.66px;
        top: 3426.81px;
        top: 304.06px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 101.38%;
    }

.s-right p{
        position: absolute;
width: 170.28px;
height: 40.54px;
left: 281.47px;
/* top: 3426.81px; */
top: 304.06px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 101.38%;
    } 
    
.s-black{
        position: absolute;
width: 834px;
height: 225.88px;
left: 0px;
top: 3574.5px;

background: #000000;
    }
    
.s-black .img1{
        position: absolute;
        width: 66.6px;
        height: 39.38px;
        left: 70.66px;
        /* top: 3603.46px; */
        top: 28.96px;
    }

.s-black .img2{
        position: absolute;
        width: 19.11px;
        height: 19.11px;
        left: 70.66px;
        /* top: 3660.22px; */
        top: 85.72px;
    }
    
.s-black .img3{
        position: absolute;
        width: 18.53px;
        height: 18.53px;
        left: 100.2px;
        /* top: 3660.22px; */
        top: 85.72px;
    }
    
.s-black .img4{
        position: absolute;
        width: 20.27px;
        height: 20.27px;
        left: 130.89px;
        /* top: 3659.06px; */
        top: 84.56px;
    }
    
.s-black .img5{
        position: absolute;
        width: 19.69px;
        height: 19.69px;
        left: 165.64px;
        /* top: 3659.64px; */
        top: 85.14px;
    }

.s-black .img6{
        position: absolute;
width: 15.64px;
height: 15.64px;
left: 565.27px;
/* top: 3605.78px; */
top: 31.28px;
       } 

.s-black .img7{
            position: absolute;
            width: 15.64px;
            height: 10.43px;
            left: 565.27px;
            /* top: 3635.89px; */
            top: 61.39px;
       }
     
.s-phone{
        position: absolute;
        width: 133.21px;
        height: 23.17px;
        left: 593.65px;
        /* top: 3608.67px; */
        top: 34.17px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 101.38%;
    }
    
.s-mail{
        position: absolute;
        width: 155.8px;
        height: 23.17px;
        left: 593.65px;
        /* top: 3633.57px; */
        top: 59.07px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 101.38%;
    }
    
.s-author{
        position: absolute;
width: 133.21px;
height: 23.17px;
left: 70.66px;
/* top: 3763.89px; */
top: 189.39px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 101.38%;
    }
}


@media (max-width: 991px ) and (min-width:320px) {
    .s-blue{
        position: absolute;
width: 376px;
height: 363px;
left: -1px;
top: 3910px;
background: #9DC9C8;
    }
    
    
    .s-blue h2{
        position: absolute;
width: 224px;
height: 63px;
left: 34px;
/* top: 3972px; */
top: 62px;
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 101.38%;
    }
    
    .s-first{
        position: absolute;
        width: 79.22px;
        height: 14.91px;
        left: 33.85px;
        /* top: 4057.33px; */
        top: 147.33px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 101.38%;        
        color: #000000;
    }
    .s-second{
        position: absolute;
        width: 224.13px;
        height: 84.34px;
        left: 33.85px;
        /* top: 4071.3px; */
        top: 161.3px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 37px;
        line-height: 101.38%;
        color: #000000;
    }
    .s-left h3{
        position: absolute;
        width: 137px;
        height: 14.91px;
        left: 34.85px;
        /* top: 4143.53px; */
        top: 233.53px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 101.38%;
        color: #000000;
    }
    .s-right h3{
        position: absolute;
        width: 151px;
        height: 14px;
        left: 203px;
        /* top: 4144px; */
        top: 234px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 101.38%;
        color: #000000;
    }
    .s-left p{
        position: absolute;
width: 138px;
height: 47px;
left: 34px;
/* top: 4163px; */
top: 253px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 101.38%;
color: #000000;
    }
    .s-right p{
        position: absolute;
        width: 140px;
        height: 38px;
        left: 203px;
        /* top: 4163px; */
        top: 253px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 101.38%;
        color: #000000;
    } 
    
    
    .s-black{
        position: absolute;
        width: 394px;
        height: 251px;
        left: -19px;
        top: 4273px;
        background: #000000;
    }
    
    .s-black .img1{
        position: absolute;
        width: 53.59px;
        height: 31.69px;
        left: 37.85px;
        /* top: 4296.3px; */
        top: 23.3px;
    }
    .s-black .img2{
        position: absolute;
width: 15.38px;
height: 15.38px;
left: 37.85px;
/* top: 4341.96px; */
top: 68.96px;

    }
    .s-black .img3{
        position: absolute;
        width: 14.91px;
        height: 14.91px;
        left: 61.61px;
        /* top: 4341.96px; */
        top: 68.96px;
    }
    .s-black .img4{
        position: absolute;
        width: 16.31px;
        height: 16.31px;
        left: 86.31px;
        /* top: 4341.03px; */
        top: 68.03px;
    }
    .s-black .img5{
        position: absolute;
        width: 15.84px;
        height: 15.84px;
        left: 114.27px;
        /* top: 4341.5px; */
        top: 68.5px;
        
    }

    /* .s-contact{
    position: absolute;
width: 148.18px;
height: 58.01px;
left: 38px;
top: 4388px; 
top: 115px;
    } */
    
     .s-black .img6{
        position: absolute;
width: 12.58px;
height: 17.8px;
left: 38px;
/* top: 4388px; */
top: 115px;
       } 

        .s-black .img7{
            position: absolute;
            width: 12.58px;
            height: 11.86px;
            left: 38px;
            /* top: 4422.28px; */
            top: 149.28px;
       }
     
    .s-phone{
        position: absolute;
width: 107.17px;
height: 26.37px;
left: 60.83px;
/* top: 4391.29px; */
top: 118.29px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 101.38%;
color: #FFFFFF;
    }
    .s-mail{
        position: absolute;
        width: 125.35px;
        height: 26.37px;
        left: 60.83px;
        /* top: 4419.64px; */
        top: 146.64px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 101.38%;
         color: #FFFFFF;
    }
    
    .s-author{
        position: absolute;
        width: 141px;
        height: 19px;
        left: 38px;
        /* top: 4495px; */
        top: 222px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 101.38%;
        /* or 10px */
        
        
        color: #FFFFFF;
    }
    
    
}